/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
/* Import styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Mulish";
  font-size: 16px;
  background: #121212;
}

h1, h2, h3, h4, h5, h6, ul, li, a, p {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.container {
  min-width: 1200px;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.c_main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100px;
  color: #fff;
}
.header .logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 54px;
}
.header .logo-block .logo__image {
  width: 100%;
  height: 100%;
}
.header .nav-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .nav-block > *:not(:last-child) {
  margin: 0 20px 0 0;
}
.header .nav-block .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
  text-transform: uppercase;
  height: 100px;
  padding: 0 5px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.home-gallery {
  padding: 40px 0 50px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.home-gallery .title {
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  margin: 0 0 30px 0;
}
.home-gallery .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.home-gallery .gallery > *:not(:last-child) {
  margin: 0 30px 0 0;
}
.home-gallery .gallery .photo-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  overflow: hidden;
}
.home-gallery .gallery .photo-block .photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 1.3s ease-in-out;
  transition: 1.3s ease-in-out;
}
.home-gallery .gallery .photo-block .photo:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.footer .line {
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
}

.media-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 35px 0;
}
.media-block > *:not(:last-child) {
  margin: 0 20px 0 0;
}
.media-block .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  padding: 10px;
  background: #303030;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}
.media-block .social .icon {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}