.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
.container {
    min-width: 1200px;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: content-box;
}
.c_header {
}
.c_main {
    display: flex;
    flex: 1 1 auto;
}
.c_footer {

}

/* Background */
.background {
    position: fixed;
    z-index: -1;
    display: flex;
    width: 100%;
    height: 100vh;
    .cover {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        background: rgba(16, 16, 16, .5);
    }
    .photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
@media (max-width: 1024px) {
    .container {
        min-width: 994px;
        max-width: 994px;
        padding: 0 15px;
        margin: 0 auto;
        box-sizing: content-box;
    }
}
@media (max-width: 768px) {
    .container {
        min-width: 738px;
        max-width: 738px;
        padding: 0 15px;
        margin: 0 auto;
        box-sizing: content-box;
    }
}
@media (max-width: 425px) {
    .container {
        min-width: 395px;
        max-width: 395px;
        padding: 0 15px;
        margin: 0 auto;
        box-sizing: content-box;
    }
}
@media (max-width: 375px) {
    .container {
        min-width: 345px;
        max-width: 345px;
        padding: 0 15px;
        margin: 0 auto;
        box-sizing: content-box;
    }
}
@media (max-width: 320px) {
    .container {
        min-width: 290px;
        max-width: 290px;
        padding: 0 15px;
        margin: 0 auto;
        box-sizing: content-box;
    }
}