.main {
    width: 100%;
    min-height: 100%;
}
.content {
    display: flex;
    flex-direction: column;
    padding: 40px 0 50px 0;
    box-sizing: border-box;
    height: 100%;

    /* Home */

    .title {
        font-family: inherit;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        color: #fff;
        margin: 0 0 50px 0;
    }
    .gallery {
        display: flex;
        & > *:not(:last-child) {
            margin: 0 30px 0 0;
        }
        .photo-block {
            flex: 0 1 33.333%;
            display: flex;
            height: 590px;
            overflow: hidden;
            .photo {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 1.3s ease-in-out;
                &:hover {
                    transform: scale(1.05) rotate(1deg);
                }
            }
        }
    }

    /* About */

    .title_margin {
        margin: 0 0 180px 0;
    }
    .text-block {
        margin: 0 200px;
        & > *:not(:last-child) {
            margin: 0 0 30px 0;
        }
    }
    .description {
        font-size: 20px;
        color: #fff;
    }

    /* Work */

    .home-gallery {
        .title {
        }
    }
    .gallery-work {
        .block {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;
        }
        .block_1 {
            .card-block_1 {
                & > *:nth-child(1) {
                    height: 380px;
                }
                & > *:nth-child(2) {
                    height: 570px;
                }
            }
            .card-block_2 {
                & > *:nth-child(1) {
                    height: 980px;
                }
            }
            .card-block_3 {
                & > *:nth-child(1) {
                    height: 570px;
                }
                & > *:nth-child(2) {
                    height: 380px;
                }
            }
        }
        .block_2 {
            .card-block_1 {
                & > *:nth-child(1) {
                    height: 980px;
                }
            }
            .card-block_2 {
                & > *:nth-child(1) {
                    height: 494px;
                }
                & > *:nth-child(2) {
                    height: 456px;
                }
            }
            .card-block_3 {
                & > *:nth-child(1) {
                    height: 418px;
                }
                & > *:nth-child(2) {
                    height: 532px;
                }
            }
        }
    }
    .card-block {
        flex: 1 1 33.333%;
        padding: 0 15px;
        box-sizing: border-box;
        .photo-block {
            display: flex;
            margin: 0 0 30px 0;
            overflow: hidden;
            .photo {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
                transition: 1.3s ease-in-out;
                &:hover {
                    transform: scale(1.05) rotate(1deg);
                }
            }
        }
    }

    /* Pricing */

    .orders-block {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        .order-block {
            flex: 0 0 33.333%;
            display: flex;
            flex-direction: column;
            padding: 0 15px;
            box-sizing: border-box;
            .order {
                position: relative;
                height: 540px;
                margin: 0 0 35px 0;
                .photo {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                &:hover {
                    .order__cover {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .order__cover {
        position: absolute;
        display: flex;
        opacity: 0;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5);
        transition: .3s ease-in-out;
        .bag-block {
            width: 30px;
            height: 30px;
            padding: 30px;
            border-radius: 50%;
            background: rgba(0, 0, 0, .5);
            .icon {
                width: 100%;
                height: 100%;
            }
        }
    }
    .price {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
        color: #fff;
    }

    /* Contact */

    .contact-block {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 50px 0 0 0;
        .contact-wrapper {
            & > *:not(:last-child) {
                margin: 0 0 20px 0;
            }
        }
    }
    .contact {
        display: flex;
        .contact__text {
            min-width: 165px;
            color: #fff;
        }
    }
}
.content_padding {
    padding: 40px 0 20px 0;
}

.modal-wrapper {
    display: none;
    justify-content: center;
    align-items: start;
    position: fixed;
    z-index: 15;
    width: 100%;
    height: 100%;
}
.show {
    display: flex;
}
.modal {
    position: relative;
    display: block;
    top: 20%;
    width: 640px;
    z-index: 15;
    background: #121212;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, .25);
}
.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}
.form-name {
    display: flex;
    align-items: center;
    background: #202020;
    height: 45px;
    .name {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        color: #fff;
        margin: 0 -40px 0 0;
    }
    .close {
        display: flex;
        padding: 13px;
        outline: none;
        border: none;
        background: transparent;
        cursor: pointer;
        .icon {
            width: 14px;
            height: 14px;
            object-fit: cover;
        }
    }
}
.form-block {
    display: flex;
    .type-block {
        flex: 0 0 50%;
        position: relative;
        display: flex;
        height: 460px;
        .cover {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .5);
            opacity: 0;
            transition: .3s ease-in-out;
            .change {
                display: flex;
                outline: 0;
                border: 0;
                background: rgba(0, 0, 0, .5);
                border-radius: 50%;
                padding: 12.5px;
                cursor: pointer;
                .icon {
                    width: 25px;
                    height: 25px;
                    object-fit: cover;
                }
            }
        }
        &:hover .cover{
            opacity: 1;
        }
        .photo {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .contact-block {
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 31px;
        box-sizing: border-box;
        & > *:not(:last-child) {
            margin: 0 0 15px 0;
        }
        .input {
            display: flex;
            align-items: center;
            height: 40px;
        }
        .input, .textarea {
            font-size: 14px;
            outline: none;
            border: none;
            padding: 5px 15px;
            box-sizing: border-box;
            background: #202020;
            color: #fff;
        }
        .input:focus, .textarea:focus {
            box-shadow: 0 0 7px 3px rgba(0, 0, 0, .1);
        }
        .textarea {
            min-height: 125px;
            max-height: 250px;
            min-width: 258px;
            max-width: 258px;
        }
        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 40px;
            outline: none;
            border: 1px solid #202020;
            background: transparent;
            color: #fff;
            font-family: inherit;
            font-size: 16px;
            cursor: pointer;
            transition: .3s ease-in-out;
            &:hover {
                background: #202020;
            }
        }
        ::placeholder {
            font-family: inherit;
            font-size: 14px;
            color: #fff;
        }
    }
}

@media (max-width: 1024px) {
    .content {
        display: flex;
        flex-direction: column;
        padding: 40px 0 50px 0;
        box-sizing: border-box;
        height: 100%;
    
        /* Home */
    
        .title {
            font-family: inherit;
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
            color: #fff;
            margin: 0 0 50px 0;
        }
        .gallery {
            display: flex;
            & > *:not(:last-child) {
                margin: 0 15px 0 0;
            }
            .photo-block {
                flex: 0 1 33.333%;
                display: flex;
                height: 530px;
                overflow: hidden;
                .photo {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 1.3s ease-in-out;
                    &:hover {
                        transform: scale(1.05) rotate(1deg);
                    }
                }
            }
        }
    
        /* About */
    
        .title_margin {
            margin: 0 0 180px 0;
        }
        .text-block {
            margin: 0 200px;
            & > *:not(:last-child) {
                margin: 0 0 30px 0;
            }
        }
        .description {
            font-size: 20px;
            color: #fff;
        }
    
        /* Work */
    
        .home-gallery {
            .title {
            }
        }
        .gallery-work {
            .block {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -7.5px;
            }
            .block_1 {
                .card-block_1 {
                    & > *:nth-child(1) {
                        height: 320px;
                    }
                    & > *:nth-child(2) {
                        height: 470px;
                    }
                }
                .card-block_2 {
                    & > *:nth-child(1) {
                        height: 805px;
                    }
                }
                .card-block_3 {
                    & > *:nth-child(1) {
                        height: 475px;
                    }
                    & > *:nth-child(2) {
                        height: 320px;
                    }
                }
            }
            .block_2 {
                .card-block_1 {
                    & > *:nth-child(1) {
                        height: 805px;
                    }
                }
                .card-block_2 {
                    & > *:nth-child(1) {
                        height: 410px;
                    }
                    & > *:nth-child(2) {
                        height: 380px;
                    }
                }
                .card-block_3 {
                    & > *:nth-child(1) {
                        height: 350px;
                    }
                    & > *:nth-child(2) {
                        height: 440px;
                    }
                }
            }
        }
        .card-block {
            flex: 1 1 33.333%;
            padding: 0 7.5px;
            box-sizing: border-box;
            .photo-block {
                display: flex;
                margin: 0 0 15px 0;
                overflow: hidden;
                .photo {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 1.3s ease-in-out;
                    &:hover {
                        transform: scale(1.05) rotate(1deg);
                    }
                }
            }
        }
    
        /* Pricing */
    
        .orders-block {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -7.5px;
            .order-block {
                flex: 0 0 33.333%;
                display: flex;
                flex-direction: column;
                padding: 0 7.5px;
                box-sizing: border-box;
                .order {
                    position: relative;
                    height: 450px;
                    margin: 0 0 35px 0;
                    .photo {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    &:hover {
                        .order__cover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .order__cover {
            position: absolute;
            display: flex;
            opacity: 0;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .5);
            transition: .3s ease-in-out;
            .bag-block {
                width: 30px;
                height: 30px;
                padding: 30px;
                border-radius: 50%;
                background: rgba(0, 0, 0, .5);
                .icon {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .price {
            display: flex;
            justify-content: center;
            text-transform: uppercase;
            color: #fff;
        }
    
        /* Contact */
    
        .contact-block {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 50px 0 0 0;
            .contact-wrapper {
                & > *:not(:last-child) {
                    margin: 0 0 20px 0;
                }
            }
        }
        .contact {
            display: flex;
            .contact__text {
                min-width: 165px;
                color: #fff;
            }
        }
    }
}
@media (max-width: 768px) {
    .content {
        display: flex;
        flex-direction: column;
        padding: 40px 0 35px 0;
        box-sizing: border-box;
        height: 100%;
    
        /* Home */
    
        .title {
            font-family: inherit;
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
            color: #fff;
            margin: 0 0 50px 0;
        }
        .gallery {
            display: flex;
            & > *:not(:last-child) {
                margin: 0 15px 0 0;
            }
            .photo-block {
                flex: 0 1 33.333%;
                display: flex;
                height: 400px;
                overflow: hidden;
                .photo {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 1.3s ease-in-out;
                    &:hover {
                        transform: scale(1.05) rotate(1deg);
                    }
                }
            }
        }
    
        /* About */
    
        .title_margin {
            margin: 0 0 100px 0;
        }
        .text-block {
            margin: 0;
            & > *:not(:last-child) {
                margin: 0 0 30px 0;
            }
        }
        .description {
            font-size: 18px;
            color: #fff;
        }
    
        /* Work */
    
        .home-gallery {
            .title {
            }
        }
        .gallery-work {
            .block {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -7.5px;
            }
            .block_1 {
                .card-block_1 {
                    & > *:nth-child(1) {
                        height: 320px;
                    }
                    & > *:nth-child(2) {
                        height: 470px;
                    }
                }
                .card-block_2 {
                    & > *:nth-child(1) {
                        height: 805px;
                    }
                }
                .card-block_3 {
                    & > *:nth-child(1) {
                        height: 475px;
                    }
                    & > *:nth-child(2) {
                        height: 600px;
                    }
                }
            }
            .block_2 {
                .card-block_1 {
                    & > *:nth-child(1) {
                        height: 805px;
                    }
                }
                .card-block_2 {
                    & > *:nth-child(1) {
                        height: 410px;
                    }
                    & > *:nth-child(2) {
                        height: 380px;
                    }
                }
                .card-block_3 {
                    & > *:nth-child(1) {
                        height: 500px;
                    }
                    & > *:nth-child(2) {
                        height: 700px;
                    }
                }
            }
        }
        .card-block {
            flex: 1 1 50%;
            padding: 0 7.5px;
            box-sizing: border-box;
            .photo-block {
                display: flex;
                margin: 0 0 15px 0;
                overflow: hidden;
                .photo {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                    transition: 1.3s ease-in-out;
                    &:hover {
                        transform: scale(1.05) rotate(1deg);
                    }
                }
            }
        }
    
        /* Pricing */
    
        .orders-block {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -7.5px;
            & > *:not(:last-child) {
                margin: 0 0 35px 0;
            }
            .order-block {
                flex: 0 0 50%;
                display: flex;
                flex-direction: column;
                padding: 0 7.5px;
                box-sizing: border-box;
                .order {
                    position: relative;
                    height: 450px;
                    margin: 0 0 35px 0;
                    .photo {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    &:hover {
                        .order__cover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .order__cover {
            position: absolute;
            display: flex;
            opacity: 0;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .5);
            transition: .3s ease-in-out;
            .bag-block {
                width: 30px;
                height: 30px;
                padding: 30px;
                border-radius: 50%;
                background: rgba(0, 0, 0, .5);
                .icon {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .price {
            display: flex;
            justify-content: center;
            text-transform: uppercase;
            color: #fff;
        }
    
        /* Contact */
    
        .contact-block {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 50px 0 0 0;
            .contact-wrapper {
                & > *:not(:last-child) {
                    margin: 0 0 20px 0;
                }
            }
        }
        .contact {
            display: flex;
            .contact__text {
                min-width: 165px;
                color: #fff;
            }
        }
    }
}
@media (max-width: 425px) {
    .content {
        display: flex;
        flex-direction: column;
        padding: 40px 0 35px 0;
        box-sizing: border-box;
        height: 100%;
    
        /* Home */
    
        .title {
            font-family: inherit;
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
            color: #fff;
            margin: 0 0 50px 0;
        }
        .gallery {
            display: flex;
            flex-wrap: wrap;
            & > *:not(:last-child) {
                margin: 0 0 15px 0;
            }
            .photo-block {
                flex: 0 1 100%;
                display: flex;
                height: 500px;
                overflow: hidden;
                .photo {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 1.3s ease-in-out;
                    &:hover {
                        transform: scale(1.05) rotate(1deg);
                    }
                }
            }
        }
    
        /* About */
    
        .title_margin {
            margin: 0 0 100px 0;
        }
        .text-block {
            margin: 0;
            & > *:not(:last-child) {
                margin: 0 0 30px 0;
            }
        }
        .description {
            font-size: 18px;
            color: #fff;
        }
    
        /* Work */
    
        .home-gallery {
            .title {
            }
        }
        .gallery-work {
            .block {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -7.5px;
            }
            .block_1 {
                .card-block_1 {
                    & > *:nth-child(1) {
                        height: 450px;
                    }
                    & > *:nth-child(2) {
                        height: 665px;
                    }
                }
                .card-block_2 {
                    & > *:nth-child(1) {
                        height: 600px;
                    }
                }
                .card-block_3 {
                    & > *:nth-child(1) {
                        height: 420px;
                    }
                    & > *:nth-child(2) {
                        height: 450px;
                    }
                }
            }
            .block_2 {
                .card-block_1 {
                    & > *:nth-child(1) {
                        height: 600px;
                    }
                }
                .card-block_2 {
                    & > *:nth-child(1) {
                        height: 550px;
                    }
                    & > *:nth-child(2) {
                        height: 450px;
                    }
                }
                .card-block_3 {
                    & > *:nth-child(1) {
                        height: 450px;
                    }
                    & > *:nth-child(2) {
                        height: 500px;
                    }
                }
            }
        }
        .card-block {
            flex: 1 1 100%;
            padding: 0 7.5px;
            box-sizing: border-box;
            .photo-block {
                display: flex;
                margin: 0 0 15px 0;
                overflow: hidden;
                .photo {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                    transition: 1.3s ease-in-out;
                    &:hover {
                        transform: scale(1.05) rotate(1deg);
                    }
                }
            }
        }
    
        /* Pricing */
    
        .orders-block {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -7.5px;
            & > *:not(:last-child) {
                margin: 0 0 35px 0;
            }
            .order-block {
                flex: 0 0 100%;
                display: flex;
                flex-direction: column;
                padding: 0 7.5px;
                box-sizing: border-box;
                .order {
                    position: relative;
                    height: 500px;
                    margin: 0 0 35px 0;
                    .photo {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    &:hover {
                        .order__cover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .order__cover {
            position: absolute;
            display: flex;
            opacity: 0;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .5);
            transition: .3s ease-in-out;
            .bag-block {
                width: 30px;
                height: 30px;
                padding: 30px;
                border-radius: 50%;
                background: rgba(0, 0, 0, .5);
                .icon {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .price {
            display: flex;
            justify-content: center;
            text-transform: uppercase;
            color: #fff;
        }
    
        /* Contact */
    
        .contact-block {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 50px 0 0 0;
            .contact-wrapper {
                & > *:not(:last-child) {
                    margin: 0 0 20px 0;
                }
            }
        }
        .contact {
            display: flex;
            .contact__text {
                min-width: 165px;
                color: #fff;
            }
        }
    }
}
@media (max-width: 375px) {
    .content {
        display: flex;
        flex-direction: column;
        padding: 40px 0 35px 0;
        box-sizing: border-box;
        height: 100%;
    
        /* Home */
    
        .title {
            font-family: inherit;
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
            color: #fff;
            margin: 0 0 50px 0;
        }
        .gallery {
            display: flex;
            flex-wrap: wrap;
            & > *:not(:last-child) {
                margin: 0 0 15px 0;
            }
            .photo-block {
                flex: 0 1 100%;
                display: flex;
                height: 500px;
                overflow: hidden;
                .photo {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 1.3s ease-in-out;
                    &:hover {
                        transform: scale(1.05) rotate(1deg);
                    }
                }
            }
        }
    
        /* About */
    
        .title_margin {
            margin: 0 0 100px 0;
        }
        .text-block {
            margin: 0;
            & > *:not(:last-child) {
                margin: 0 0 30px 0;
            }
        }
        .description {
            font-size: 18px;
            color: #fff;
        }
    
        /* Work */
    
        .home-gallery {
            .title {
            }
        }
        .gallery-work {
            .block {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -7.5px;
            }
            .block_1 {
                .card-block_1 {
                    & > *:nth-child(1) {
                        height: 375px;
                    }
                    & > *:nth-child(2) {
                        height: 550px;
                    }
                }
                .card-block_2 {
                    & > *:nth-child(1) {
                        height: 500px;
                    }
                }
                .card-block_3 {
                    & > *:nth-child(1) {
                        height: 350px;
                    }
                    & > *:nth-child(2) {
                        height: 350px;
                    }
                }
            }
            .block_2 {
                .card-block_1 {
                    & > *:nth-child(1) {
                        height: 550px;
                    }
                }
                .card-block_2 {
                    & > *:nth-child(1) {
                        height: 400px;
                    }
                    & > *:nth-child(2) {
                        height: 350px;
                    }
                }
                .card-block_3 {
                    & > *:nth-child(1) {
                        height: 450px;
                    }
                    & > *:nth-child(2) {
                        height: 500px;
                    }
                }
            }
        }
        .card-block {
            flex: 1 1 100%;
            padding: 0 7.5px;
            box-sizing: border-box;
            .photo-block {
                display: flex;
                margin: 0 0 15px 0;
                overflow: hidden;
                .photo {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                    transition: 1.3s ease-in-out;
                    &:hover {
                        transform: scale(1.05) rotate(1deg);
                    }
                }
            }
        }
    
        /* Pricing */
    
        .orders-block {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -7.5px;
            & > *:not(:last-child) {
                margin: 0 0 35px 0;
            }
            .order-block {
                flex: 0 0 100%;
                display: flex;
                flex-direction: column;
                padding: 0 7.5px;
                box-sizing: border-box;
                .order {
                    position: relative;
                    height: 500px;
                    margin: 0 0 35px 0;
                    .photo {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    &:hover {
                        .order__cover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .order__cover {
            position: absolute;
            display: flex;
            opacity: 0;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .5);
            transition: .3s ease-in-out;
            .bag-block {
                width: 30px;
                height: 30px;
                padding: 30px;
                border-radius: 50%;
                background: rgba(0, 0, 0, .5);
                .icon {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .price {
            display: flex;
            justify-content: center;
            text-transform: uppercase;
            color: #fff;
        }
    
        /* Contact */
    
        .contact-block {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 50px 0 0 0;
            .contact-wrapper {
                & > *:not(:last-child) {
                    margin: 0 0 20px 0;
                }
            }
        }
        .contact {
            display: flex;
            .contact__text {
                min-width: 165px;
                color: #fff;
            }
        }
    }
}
@media (max-width: 325px) {
    .content {
        display: flex;
        flex-direction: column;
        padding: 40px 0 35px 0;
        box-sizing: border-box;
        height: 100%;
    
        /* Home */
    
        .title {
            font-family: inherit;
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
            color: #fff;
            margin: 0 0 50px 0;
        }
        .gallery {
            display: flex;
            flex-wrap: wrap;
            & > *:not(:last-child) {
                margin: 0 0 15px 0;
            }
            .photo-block {
                flex: 0 1 100%;
                display: flex;
                height: 500px;
                overflow: hidden;
                .photo {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 1.3s ease-in-out;
                    &:hover {
                        transform: scale(1.05) rotate(1deg);
                    }
                }
            }
        }
    
        /* About */
    
        .title_margin {
            margin: 0 0 100px 0;
        }
        .text-block {
            margin: 0;
            & > *:not(:last-child) {
                margin: 0 0 30px 0;
            }
        }
        .description {
            font-size: 18px;
            color: #fff;
        }
    
        /* Work */
    
        .home-gallery {
            .title {
            }
        }
        .gallery-work {
            .block {
                display: flex;
                flex-wrap: wrap;
                margin: 0 -7.5px;
            }
            .block_1 {
                .card-block_1 {
                    & > *:nth-child(1) {
                        height: 375px;
                    }
                    & > *:nth-child(2) {
                        height: 550px;
                    }
                }
                .card-block_2 {
                    & > *:nth-child(1) {
                        height: 500px;
                    }
                }
                .card-block_3 {
                    & > *:nth-child(1) {
                        height: 350px;
                    }
                    & > *:nth-child(2) {
                        height: 350px;
                    }
                }
            }
            .block_2 {
                .card-block_1 {
                    & > *:nth-child(1) {
                        height: 550px;
                    }
                }
                .card-block_2 {
                    & > *:nth-child(1) {
                        height: 400px;
                    }
                    & > *:nth-child(2) {
                        height: 350px;
                    }
                }
                .card-block_3 {
                    & > *:nth-child(1) {
                        height: 450px;
                    }
                    & > *:nth-child(2) {
                        height: 500px;
                    }
                }
            }
        }
        .card-block {
            flex: 1 1 100%;
            padding: 0 7.5px;
            box-sizing: border-box;
            .photo-block {
                display: flex;
                margin: 0 0 15px 0;
                overflow: hidden;
                .photo {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                    transition: 1.3s ease-in-out;
                    &:hover {
                        transform: scale(1.05) rotate(1deg);
                    }
                }
            }
        }
    
        /* Pricing */
    
        .orders-block {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -7.5px;
            & > *:not(:last-child) {
                margin: 0 0 35px 0;
            }
            .order-block {
                flex: 0 0 100%;
                display: flex;
                flex-direction: column;
                padding: 0 7.5px;
                box-sizing: border-box;
                .order {
                    position: relative;
                    height: 500px;
                    margin: 0 0 35px 0;
                    .photo {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    &:hover {
                        .order__cover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .order__cover {
            position: absolute;
            display: flex;
            opacity: 0;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .5);
            transition: .3s ease-in-out;
            .bag-block {
                width: 30px;
                height: 30px;
                padding: 30px;
                border-radius: 50%;
                background: rgba(0, 0, 0, .5);
                .icon {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .price {
            display: flex;
            justify-content: center;
            text-transform: uppercase;
            color: #fff;
        }
    
        /* Contact */
    
        .contact-block {
            display: flex;
            flex-direction: column;
            height: 100%;
            padding: 50px 0 0 0;
            .contact-wrapper {
                & > *:not(:last-child) {
                    margin: 0 0 20px 0;
                }
            }
        }
        .contact {
            display: flex;
            .contact__text {
                min-width: 165px;
                color: #fff;
            }
        }
    }
}